extend layout 

block append main
  .aboutme
    .brief
      h2 简要经历
      ul.briefUl 
        li.briefLi 
          span.timeStamp 2003年8月
          p.briefEvent 经历史上最难高考，入西安电子科技大学通信工程学院学习。
        li.briefLi 
          span.timeStamp 2007年1月
          p.briefEvent 经国家统考，以大专业第7名的成绩(参考生约2000人)被西安电子科技大学研究生院录取。同年毕业后入空军某部工作，学籍保留两年。
        li.briefLi 
          span.timeStamp 2009年8月
          p.briefEvent 返西安电子科技大学研究生院学习，期间主要从事嵌入式开发，自主设计／开发／调试一款数字对讲机电路板，得到导师及合作方高度好评。
        li.briefLi 
          span.timeStamp 2012年5月
          p.briefEvent 从研究生院毕业返回部队工作，继续担任通信助理工程师。
        li.briefLi 
          span.timeStamp 2016年9月
          p.briefEvent 开始利用个人时间系统学习前端知识。此前有利用asp语言对网站进行二次开发经历，及flash全站开发。
    .selfPromotion
      h2.indent 我是怎样的人？
      .characters
        .ch
          h3 热爱学习，不竭的求知欲
          ul 
            li 永远不放弃提升自己。在部队工作期间，利用业余时间自学过前端/c#/flash。坚持学习英语，基本能够听懂voa常速新闻。
            li 通过自学完成了从0开始的flash全站建设。
            li 兴趣爱好广泛，练习过素描/软笔书法，喜欢历史/心理学类阅读。
        .ch
          h3 坚韧坚定，超强的执行力
          ul
            li 在部队举世混日子的氛围中，坚持真诚做人，认真做事，2016年立三等功一次。服役十年后坚持选择复员自寻出路，拒绝继续在体制中随波逐流。
            li 能很好地设计学习/工作计划，并拥有完成计划的坚定决心。考研期间从9月开始系统复习，完全完成了学习计划，取得了满意成绩。
            li 半年内将5km长跑成绩从26分钟提升到22分钟。
        .ch
          h3 勤于思考，热爱钻研和解决问题
          ul
            li 熟练使用文档资料/搜索工具/开发者社区查找问题资源。
            li 乐于思考复杂的逻辑问题，探索最优/最简洁解。
        .ch
          h3 乐于合作，严于自律
          ul 
            li 部队给予了我足够的团队合作精神，我会把它贯彻在以后的整个工作生涯中。
            li 绝对的自律心，完成工作任务的绝对决心。
    .careerPlan
      h2.indent 职业规划
      .characters
        .ch
          h3
            span.timeSpan 期限
            | 一个月
          ul
            li 进一步熟练利用HTML/CSS进行页面构造。
            li 深入学习HTML5/CSS3。
            li 能够熟练开发各种页面。
        .ch
          h3 
            span.timeSpan 期限
            | 一～两个月
          ul
            li 完成FreeCodeCamp的Back End Development Certification。
            li 深入掌握node.js开发/思想。
            li 熟练使用各种编译/构建/测试工具。
            li 进一步掌握ES6的新特性/语法。
        .ch
          h3
            span.timeSpan 期限
            | 未知
          ul
            li 造轮子。
            li 学习数据结构/算法/编译原理。
            li 深入学习操作系统。
            li 选择一门强大的后端语言深入学习。
        .ch
          h3
            span.timeSpan 期限
            | 一年内
          ul
            li 成为一名合格到优秀的前端开发工程师。
        .ch
          h3
            span.timeSpan 期限
            | 两到三年内
          ul
            li 成为优秀的前端/全栈工程师，偏向强客户端应用开发。