extend layout

block append main
  .contact
    form(action='./contact' method='post')
      p 请在这里留下您的宝贵信息，谢谢！
      input(type='text' value='ss' id='name' name='user_name' placeholder='姓名')
      input(type='email' value='d@s' id='email' name='user_email' placeholder='邮箱')
      textarea(id='message' name='user_message' placeholder='请输入您的留言')
      button(type='submit') 发送
