.author
  p.authorName 李 东杰
.nav
  .item
    a.navBtn(href='./home')
      span.english Home
      span.chinese.hidden 首页
  .item
    a.navBtn(href='./portfolio')
      span.english portfolio
      span.chinese.hidden 作品
  .item
    a.navBtn(href='./skills')
      span.english Skills
      span.chinese.hidden 技能
  .item
    a.navBtn(href='./about me')
      span.english About me
      span.chinese.hidden 关于
  .item
    a.navBtn(href='./contact')
      span.english Contact
      span.chinese.hidden 联系