.author
  p.authorName 李 东杰
.nav
  .item
    a.navBtn(href='./home')
      span.english Home
      span.chinese.hidden 首页
  .item
    a.navBtn(href='./portfolio')
      span.english Portfolio
      span.chinese.hidden 作品
  .item
    a.navBtn(href='./resume')
      span.english Resume
      span.chinese.hidden 简历
  .item
    a.navBtn(href='./aboutme')
      span.english About me
      span.chinese.hidden 关于
  .item
    a.navBtn(href='./contact')
      span.english Contact
      span.chinese.hidden 联系