extends layout

block append main
  .main                
    .portrait
      <img src='./portrait.jpg' class='img-responsive img-thumbnail' title='李东杰' alt='这里本该出现我的照片...' />
      p <a href='https://github.com/ginobilee'><i class='fa fa-github' aria-hidden='true'></i> ginobilee</a>
      p <i class='fa fa-phone' aria-hidden='true'></i> 185-3553-1580
      p <i class='fa fa-envelope' aria-hidden='true'></i> skyleedong@gmail.com

    .intro
      p 您好，我正在寻找一份前端开发的工作。
      p 在此之前，我是一名国家公务人员。
      p 我曾经为所在单位开发过网上史馆。
      p 我对单位原cms内容发布平台进行了二次开发，用MySQL搭建了新的数据库表，建设了新的后台管理系统，最后用ActionScript2实现了一个Flash网站。
      p 从2016年10月起，我开始利用业余时间系统学习前端开发。
      p 我以FreeCodeCamp challenges作为习题集，利用MDN作为参考源，系统学习了相关HTML/CSS基础知识，并深入学习了《JavaScript高级程序设计》一书。
      p 这期间先后获得了FreeCodeCamp的前端/数据可视化开发认证，完成的一些项目可以在<a href='./portfolio'>portfolio</a>中看到。
      p 我经常在GitHub/Stack Overflow/SegmentFault/V2EX等社区上学习，关注前端方向发展动态，了解业界对前端从业人员的素质需求。
      p 我有志于在前端方向上进行持续深入的学习实践，成为一名优秀的前端开发人员。
      p 我认为自己具备了成为一名前端工程师的基本素质，渴望在实际工作中实践提高。
      p 您可以看看我的<a href=''>作品</a>或是<a href=''>简历</a>。
      p 希望得到您的赏识，谢谢！