doctype html

html
  head    
    title Welcome!
    meta(name='viewport' content='width=content-width,initial-scale=1')
    block styles
      link(href='./style.css',rel='stylesheet')
      link(href='http://cdn.webfont.youziku.com/webfonts/nomal/27166/46724/593fa395f629dd15c87b6d2e.css',rel='stylesheet',type='text/css')

  body
    block content
      .content 
        .header 
          include header
        .main
          block main  
        block footer
    script(src='./main.js')