doctype html

html
  head    
    title Welcome!
    meta(name='viewport' content='width=content-width,initial-scale=1')
    block styles
      link(href='./style.css',rel='stylesheet')

  body
    block content
      .content 
        .header 
          include header
        .main
          block main  
        block footer
    script(src='./main.js')