doctype html

html
  head
    title Welcome!
    meta(name='viewport' content='width=content-width,initial-scale=1')
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    link(href='./style.css' rel='stylesheet')
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/27166/46724/593fa395f629dd15c87b6d2e.css' rel='stylesheet' type='text/css' />
    
  body
    .container-fluid.content 
      <!-- #include file='header.pug' --> 
