extend layout

block append main
  .resume
    .basic
      h3(class='basicTitle') 基本信息
      .detail
        .basicInfo 
          p 姓名：李东杰 
          p.call 电话：18535531580
        .basicInfo
          p 出生：1986/08
          p.mail 邮箱：skyleedong@gmail.com
    .education
      h3(class='basicTitle') 教育背景
      .detail
        .community.edu
          h4 FreeCodeCamp0    2016/09—now
          p.major Front End/Data Visualization Development
        .master.edu
          h4 西安电子科技大学研究生院    2009/08—2012/04
          p.major 信息与通信系统
        .bachelor.edu
          h4 西安电子科技大学通信工程学院 2003/08—2007/07
          p.major 通信工程
    .experience
      h3(class='basicTitle') 工作经历
      .detail
        h4 国家单位  2007/07—2017/06
        p 助理通信工程师，主要负责维护/建设单位的通信/信息化装备，建设/维护网络宣传媒体。
    .skills
      h3(class='basicTitle') 技能
      .detail
        ul
          li 熟练运用<span class='bold'>原生Javascript</span>进行页面开发，熟悉<span class='bold'>ES6</span>常用语法
          li 能够编写符合<span class='bold'>语义化</span>规范的HTML代码，熟练使用<span class='bold'>pug</span>模版进行HTML开发
          li 能够适当运用<span class='bold'>CSS</span>进行页面布局/实现页面样式，能够实现初级的<span class='bold'>响应式</span>网页设计
          li 熟练使用<span class='bold'>d3.js</span>进行数据可视化页面开发
          li 能够使用<span class='bold'>React</span>进行桌面前端开发
          li 能够使用<span class='bold'>nde.js/express/MongoDB</span>进行后台开发
          li 熟练使用<span class='bold'>git/grunt/chrome</span>等工具
          li 能够在实践中贯彻<span class='bold'>工程化</span>开发思想
          li 对计算机网络理解比较清晰(网络结构/协议)
    .profile
      h3(class='basicTitle') 作品仓库
      .detail
        ul
          li <a class='black' href='https://github.com/ginobile'>GitHub</a>
          li <a class='black' href='https://www.freecodecamp.com/ginobilee'>FreeCodeCamp</a>
          li <a class='black' href='https://codepen.io/LeeDJ/pens/public/'>CodePen</a>
