*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: #313131;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}
a{
  color: rgb(176,176,176);
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

/*content layout*/
.content{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow:column;
  flex-flow: column;
  -ms-min-height:100vh;
  min-height: 100vh; 
}
/*header*/
.header{
  height:86px;
  color: black;
  background-color: #858585;
  font-family: Oswald;
  -webkit-flex:none;
  -ms-flex:none;  
  flex:none;
  -webkit-box-flex:none;
  -moz-box-flex:none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow:row wrap;
  flex-flow: row wrap;
  -webkit-justify-content:space-between;
  justify-content: space-between;
  -webkit-align-items:center;
  align-items: center;
}
.author{
  -webkit-flex:none;
  -ms-flex:none;  
  flex:none;
  -webkit-box-flex:none;
  -moz-box-flex:none;
}
.authorName{
  font-size: 1.8em;
  font-family: serif;
  font-weight: 500;
  padding-left: 30px;
}
.nav{
  -webkit-flex:none;
  -ms-flex:none;  
  flex:none;
  -webkit-box-flex:none;
  -moz-box-flex:none;
  font-size: 0.7em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content:space-between;
  justify-content: space-between;
}
.item{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  border-right: 1px dashed black;
  text-align: center;
  min-width: 76px;
}
.item:nth-child(5){
  border:none; 
}
a.navBtn{
  color: black;
  text-align: center;
}
.hidden{
  display: none;
}
.fadeout{
  -webkit-animation:0.4s fadeout;
  -moz-animation:0.4s fadeout;
  -o-animation:0.4s fadeout;
  animation: 0.4s fadeout;
  display: none;
}
.fadein{
  animation: 0.4s fadein;
  color: rgba(0,0,0,1);
  display: inline-block;
}
@keyframes fadeout{
  from {
    color: rgba(0,0,0,1);
  }
  to {
    color: rgba(0,0,0,0);
  }
}
@keyframes fadein{
  from {
    color: rgba(0,0,0,0);
  }
  to {
    color: rgba(0,0,0,1);
  }
}

/*main*/
.main{  
  -webkit-flex:0 1 100%;
  -ms-flex:0 1 100%;
  flex:0 1 100%;
  -webkit-box-flex:0 1 100%;
  -moz-box-flex:0 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow:row wrap;
  flex-flow: row wrap;
}
/*index*/
.portrait{
  margin: auto;
  -webkit-flex:0 1 auto;
  -ms-flex:0 1 auto;
  flex:0 1 auto;
  -webkit-box-flex:0 1 auto;
  -moz-box-flex:0 1 auto;
}
.portrait img{
  width: 301px;
  height: 401px;
  padding: 10px;
}
.intro{
  padding:20px 40px 0 20px;
  color: rgb(176,176,176);
  font-size: 0.9em;
  margin: auto;
  max-width: 700px;  
  -webkit-flex:0 1 auto;
  -ms-flex:0 1 auto;
  flex:0 1 auto;
  -webkit-box-flex:0 1 auto;
  -moz-box-flex:0 1 auto;
}
.intro p{
  padding-top: 11px;
}

/*footer*/
.footer{
  -webkit-flex:none;
  -ms-flex:none;  
  flex:none;
  -webkit-box-flex:none;
  -moz-box-flex:none;
}



/*portfolio projects*/
.stage{
  text-align: center;
  width: 90%;
  margin: 20px auto;
}
ul.projects{
  width: 100%;
  letter-spacing: -4px;
  font-size: 0px;
  text-align: justify;
  margin: 0px;
  padding: 0px;
  color: red;
}
li.project{
  display: inline-block;
  width: 250px;
  height: 300px;
  background-color: white;
  text-align: center;
  vertical-align: bottom;
}
img.single{
  width:215px;
  height:153px;
}